* {
  font-family:Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #F9FAF8;
}

.top-links {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  padding: 0 15px;
}


.footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}



.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
}

button,
.action-block {
  background-color: #3882F6;
}

.info-block .title {
  font-weight: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.quote-block {
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}
